* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    display: flex;
    flex-direction: column;
    
}

.container-custom.top {
    margin-top: 50px;

}

.container-custom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    margin: 3px;
}

.part-main {
    width: calc(100% / 2);
    max-width: 400px;
    margin: 10px;
}

.container-part {


    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px lightgray;
    background-color: white;
}

.container-part>.part {
    display: flex;
    flex-direction: column;
}

.persian-text-number {
    height: 40px;
}

/* left-part */
.cost {
    border-right: 1px solid red;
}

.show-cost-income {
    margin-bottom: 10px;
}

.cost-income {
    display: flex;
    flex-direction: row;
}


.cost-income>div {
    width: calc(100% /2);
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* table */

/* table-end */


/* modal */

.modal-body-custom {
    text-align: end;
}

@media only screen and (max-width: 840px) {

    .container-custom {
        flex-direction: column-reverse;
    }

    .part-main,
    .table {
        width: unset;
        max-width: unset;
    }


}